h2 {
    font-size: 27px;
    /* margin-top: 40px;
    margin-bottom: 40px; */
    font-weight: bold;
    padding-top: 35px;
    margin: 50px auto 40px;
    width: 130px;
    
}
input::placeholder {
    color: rgb(143, 143, 143);
}
.insert {
    margin-left: 25px;
}
.insert .id, .insert .name {
    border: none;
}
.mypage_form p {
    display: inline-block;
    width: 110px;
    
}
.mypage {
    /* border: 1px solid black; */
    margin: 0 auto;
    width: 700px;
    height: 700px;
    box-shadow: 5px 5px 5px 5px rgb(167, 167, 167);
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 1%;
    position: relative;
    margin-bottom: 80px;
}
.mypage_form .pw_check {
    margin-top: 30px;
    
    margin-bottom: 10px;
}

.mypage_form input {
    margin-bottom: 20px;
    margin-left: 18px;
    border-radius: 4px;
    border: 1px solid #666666;
}
.name_box input {
    width: 100px;
    /* background-color: rgb(236, 236, 236); */
    color: rgb(172, 172, 172);
}
.id_box input {
    width: 100px;
    /* background-color: rgb(236, 236, 236); */
    color: rgb(172, 172, 172);
}

.pw_box .pw {
    margin-bottom: 5px;
    margin-left: 13px;
}
.pw_box #pw_check {
    margin-top: 14px;
    margin-left: 14px;
}
.tel_box p {
    width: 105px;
}
.job_box {
    margin-top: 40px;
    margin-bottom: 20px;
}
.job_box p {
    margin-bottom: 20px;
    width: 80px;
    margin-bottom: 0;
    margin-right: 0;
}
.job_box div {
    display: inline;
}
.job_box .job {
    margin-right: 20px;
}
.job_check {
    margin: 0 0 0 53px;
}

.job_radio .radio1 {
    margin-left: 30px;
}
.job_radio p {
    margin-right: 0;
}
.job_radio input {
    margin: 0;
    
}
.email_box input {
    margin: 0;
    margin-bottom: 20px;
    width: 100px;
}
.email_box p {
    display: inline-block;
    margin-bottom: 15px;
}.email_box .me {
    margin-bottom: 15px;
}
.addr_box input {
    margin-bottom: 5px;
}
.addr_box .findaddr {
    margin-left: -4px;
    padding: 5px 12px 2px;
}
.addr_box .addr {
    margin-left: 140px;
}
.addr_box .addr1 {
    width: 255px;
}
.addr_box .addr2 {
    width: 400px;
}
.btn .mod_sub{
    position: absolute;
    top: 580px;
    left: 470px;
}
.btn .cancel {
    position: absolute;
    top: 580px;
    left: 325px;
}
.btn .delete {
    position: absolute;
    top: 580px;
    left: 180px;
}
.btn button {
	-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	display: block;
	margin: 20px auto;
	width: 70px;
	text-decoration: none;
	border-radius: 4px;
	padding: 10px;
}

.btn .mod_sub {
	color: black;
	box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}
.btn .cancel {
    color: black;
	box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}
.btn .delete {
    color: black;
	box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

.btn .mod_sub:hover {
	color: rgba(255,255,255, 0.85);
	box-shadow: rgba(137,71,233, 0.7) 0 0px 0px 40px inset;
}
.btn .cancel:hover {
	color: rgba(0,0,0, 0.85);
	box-shadow: rgba(233,150,122, 0.7) 0 0px 0px 40px inset;
}
.btn .delete:hover {
    color: rgba(0,0,0, 0.85);
	box-shadow: rgba(248, 77, 61, 0.863) 0 0px 0px 40px inset;
}

.mypage_form .btn .join_sub {
    margin-left: 170px;
    /* background-color: rgb(170, 206, 226); */
    border-radius: 10%;
    
}

.my_button {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:4px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	/* font-family:Arial; */
	font-size:11px;
	/* font-weight:bold; */
	padding:7px 12px 4px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.my_button:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
.my_button:active {
	position:relative;
	top:1px;
}



